.App {
  min-height: 100vh;
  background-color: #09090b;
  color: #fafafa;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
}
